@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-weight: bold;
    text-align: justify;
    margin: 0px;
    padding: 0px;
}

h1, h2{
    color: rgba(0, 0, 0, 0.699);
    text-align: center;
    padding: 5px;

}
header {
    background-color: darkgrey;

}
    
menu {
    display: none;
   
}
menu > ul{
    list-style-type: none;
}

menu> ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: gray;
    text-align: center;
    color: rgba(0, 0, 0, 0.733);
    border-top: solid darkgray;
    border-radius: 5px;
}

menu > ul > li >a:hover{
    background-color: lightgray;
}

span#burg{
    background-color: rgb(44, 43, 43);
    color: white;
    text-align: center;
    display: block;
    padding: 5px;
    cursor: pointer;
}

span#burg:hover{
    background-color: rgba(255, 255, 255, 0.733);
    color: black;
}

main{
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.582);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);

}
main > article >p{
    color: rgba(0, 0, 0, 0.623);
    text-indent: 20px;
    margin-bottom: 10px;
    
}


body{
    background-color: rgba(119, 136, 153, 0.527);
}